.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: $footer-background-color;
}

.footer-rights {
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $footer-text-color;
  margin-bottom: 9px;

  margin-top: 0;
}

.footer-dev {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $footer-text-color;
  margin: 0;
}

.footer-students {
  position: relative;
  cursor: pointer;
}

.footer-dev-by::after {
  display: inline-block;
  content: '';
  background-image: url('./images/footer/heart.svg');
  height: 12.75px;
  width: 14px;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-students::after {
  position: absolute;
  display: block;
  content: '';
  background-color: $footer-text-color;
  height: 1px;
  width: 100%;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-rights {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    margin: 0 auto;
    width: 1024px;
  }
}
