.movie-card {
  margin-bottom: 20px;
}
.movie-img,
.movie-title,
.card-wrapper {
  pointer-events: none;
}
.movie-img {
  width: 280px;
  height: 402px;

  border-radius: 5px;

  margin-bottom: 10px;
}

.movie-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-transform: uppercase;

  color: $black-color;

  margin-bottom: 6px;
}

.card-wrapper {
  display: flex;
}

.movie-genres {
  display: flex;
}

.movie-genre {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: $orange-color;

  &:not(:last-child)::after {
    content: ',';
    margin-right: 3px;
  }

  &:last-child {
    margin-right: 3px;
  }
}

.movie-date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: $orange-color;
  &::before {
    content: '|';
    margin-right: 3px;
  }
}
