.pagination {
  text-align: center;
}

.pagination button {
  font-family: $main-font;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  align-items: center;

  color: $black-color;
  border-color: transparent;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.left-button {
  background: url('./images/pagination/arrow-left.svg'); //убрать текст контент
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.right-button {
  background: url('./images/pagination/arrow-right.svg'); //убрать текст контент
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.active {
  background-color: $orange-color;
}
