.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pagination * {
  border-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.pag-button {
  background-color: transparent;
}

.pag-separator {
  background-color: transparent;
}

.left-button {
  background: url('./images/pagination/arrow-left.svg');
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.right-button {
  background: url('./images/pagination/arrow-right.svg');
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.pagination-active {
  background-color: $orange-color;
}
