.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
}

.pagination * {
  border-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  @include transition(all);

  &:focus {
    outline: transparent;
  }
}

.pag-button {
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: #ebe5d9;
    transform: scale(1.15);
  }
}

.pag-separator {
  background-color: transparent;
}

.left-button {
  background: url('./images/pagination/arrow-left.svg');
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-color: #ebe5d9;
    transform: scale(1.15);
  }
}

.right-button {
  background: url('./images/pagination/arrow-right.svg');
  background-color: #f7f7f7;
  background-position: 50%;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-color: #ebe5d9;
    transform: scale(1.15);
  }
}

.pagination-active {
  background-color: $orange-color;
  &:hover,
  &:focus {
    background-color: $orange-color;
    transform: scale(1.15);
  }
}

@media screen and (min-width: 768px) {
  .pagination *:not(:last-child) {
    margin-right: 3px;
  }
}
