<div class="loader__container">
    <div class="loader__film">
        <img class="loader__film-img" src="{{this.film}}" alt="film" />
        <img class="loader__film-img" src="{{this.film}}" alt="film" />
    </div>
    <img class="loader__camera" src="{{this.camera}}" alt="camera" />
</div>