html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
}
h2 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.movies-list {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.wrapper-header {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .wrapper-header {
    padding-top: 58px;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper {
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    padding: 20px;
  }
  .movie-card {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper-header {
    padding-top: 58px;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper {
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    padding-top: 60px;
    padding-left: 75px;
    padding-right: 75px;
    padding: 50px;
  }
  .movie-card {
    width: calc((100% - 30px) / 2);
  }
  .movie-card {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper-header {
    padding-top: 58px;
    padding-bottom: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapper {
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    padding: 20px;
  }
  .movies-list {
    width: 882px;
  }
  .movie-card {
    width: calc((100% - 90px) / 4);
  }
  .movie-card {
    margin-bottom: 30px;
  }
}

.movie-img {
  width: 100%;
}
.pag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  /* display: flex; */
  width: 100%;
  border: 1px solid #cccccc;
}
.list .item {
  padding: 15px;
  border: 1px solid #cccccc;
}
.list .item:last-of-type {
  border-bottom: none;
}
.list .item:hover {
  background-color: #fff;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #44aa44ee;

  margin: 5px;
  transition: 400ms;

  color: #fff;
  font-size: 18px;
}
.pagination button:hover {
  background-color: #44aa;
}
.pagination button.active {
  background-color: rgb(21, 100, 34);
}
.movie-card,
.movie-img,
.movie-title,
.movie-genres,
.movie-date {
  pointer-events: none;
}
.movie-link {
  pointer-events: initial;
  display: block;
  height: 100%;
}
.modal {
  position: absolute;
  top: 0;
}

.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.modal-window {
  /* overflow: hidden; */
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80vw;
  height: 100%;
  padding-top: 250px;
  padding-left: 20px;
  padding-right: 20px;
  /* width: 100%;
  display: block; */
  background-color: #fff;
  /* position: absolute;
  top: 0; */
  z-index: 2;
}
.modal-window img {
  width: 100%;
}
.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}
.modal-open {
  overflow: hidden;
}
